<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title or "jobs.rubystacknews" }}</title>

  <link rel="stylesheet" href="{{ '/assets/styles.css' | url }}">
</head>
<body>
  <header class="site-header">
    <div class="container header-inner">
      <a class="brand" href="{{ '/' | url }}">RubyStackNews Jobs</a>

      <nav class="nav">
        <a href="{{ '/jobs/' | url }}">Jobs</a>
        <a href="https://rubystacknews.com" target="_blank" rel="noopener">RubyStackNews</a>
        <a href="https://rubystacknews.com/get-in-touch/" target="_blank" rel="noopener">Post a Job</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {{ content | safe }}
  </main>

  <footer class="site-footer">
    <div class="container">
      <small>
        Built by <a href="https://rubystacknews.com" target="_blank" rel="noopener">RubyStackNews</a>.
      </small>
    </div>
  </footer>
</body>
	<!-- Default Statcounter code for Jobs
	https://ggerman.github.io/jobs.rubystacknews/ -->
		<script type="text/javascript">
		var sc_project=13204260; 
		var sc_invisible=1; 
		var sc_security="6ba20108"; 
		</script>
		<script type="text/javascript"
		src="https://www.statcounter.com/counter/counter.js"
		async></script>
		<noscript><div class="statcounter"><a title="Web Analytics"
		href="https://statcounter.com/" target="_blank"><img
		class="statcounter"
		src="https://c.statcounter.com/13204260/0/6ba20108/1/"
		alt="Web Analytics"
		referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
	<!-- End of Statcounter Code -->
</html>

