<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title or "jobs.rubystacknews" }}</title>

  <link rel="stylesheet" href="{{ '/assets/styles.css' | url }}">
</head>
<body>
  <main class="container">
    {{ content | safe }}
  </main>
</body>
</html>

